<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
    <h3>Average Rating: <%= star_rating(restaurant.average_rating) %>
    <% if current_user && current_user.restaurants.all.include?(restaurant) %>
      <%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %>
      <%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %>
    <% end %>
    <% if current_user && !current_user.has_reviewed?(restaurant) %>
      <%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %>
    <% end %>
    <h3>Reviews for <%= restaurant.name %>:</h3>
    <% if restaurant.reviews.any? %>
      <ul>
        <% restaurant.reviews.each do |review| %>
         <li>
            <p>
            <span class='endorsements_count'>
            <%= review.endorsements.count %>  
            </span> 
            <%= 'endorsement'.pluralize(review.endorsements.count) %>
            <%= link_to "Endorse #{restaurant.name}", restaurant_review_endorsements_path(restaurant, review), method: :post, class: 'endorsements-link' %>
            </p>
            <%= review.thoughts %>, <strong><%= review.rating %></strong>/5
            <% if current_user && current_user.reviews.all.include?(review) %>
            <%= link_to 'Delete Review', restaurant_review_path(restaurant, review), method: :delete %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No reviews.</p>
    <% end %>
  <% end %>
<% else %>
  <h1>No restaurants yet</h1>
<% end %>
<% if current_user %>
  <a href="/restaurants/new">Add a restaurant</a>
<% end %>